Utils(
    bot_conf : BotConf(
        prefix : "&",
        expect_token : "Impossible de trouver le token",
        var_token : "BLUEBOT_TOKEN",
        expect_client_builder : "Erreur lors de l'initialisation du bot",
    ),
    events : Events(
        ready_msg : "Bluebot est réveillé",
        azales_admin_error : "Malheureusement Azales, ne sera pas admin aujourd'hui",
        azales_admin : "Azales est là !",
        azales_libre_msg_error : "Erreur lors de l'envoie du message dans le salon `tchat-libre`",
        azales_join : "Le meilleur administrateur `Azales` est de retour !"
        azales_quit : "`Azales` reviendra dans une ou deux années plutonienne !",
    ),
    commands : Commands(
        ping : "`Pong !`",
        info_title : "Informations me concernant : ",
        info_desc : "Je suis un bot créé pour le serveur BlueKeys afin de faciliter la vie des développeurs Rust.",
        info_fields : Some([
            ("Développé en : ", "Rust", false),
            ("Développé par : ", "Azales avec l'aide et la supervision de Léolios", false),
        ]),
        info_footer : "Pour rejoindre le serveur BlueKeys : https://discord.gg/dKvSwtsc6Q",
        shutdown_success : "Au revoir !",
        shutdown_failure : "Il y a eu un problème lors de la récupération du shard manager",
        restart : "Je me relance !"
    )
)
